body
{
	-webkit-print-color-adjust: exact;
}

p
{
	font-weight: bold;
}

.green
{
	background-color: green;
}

.green2
{
	background-color: green;
	color: white;
}

.red
{
	background-color: red;
}

.black
{
	background-color: black;
	color: white;
}

.pink
{
	background-color: pink;
}

.yellow
{
	background-color: yellow;
}

.beige
{
	background-color: #D4D272;
}

.module
{
	border-spacing: 0px;
}

.year
{
	width: 680px;
	border-spacing: 0px;
	height: 500px;
}

.yearHeader
{
	float: top;
	border-spacing: 0px;
}

.month
{
	width: 106px;
	float: left;
	border-spacing: 0px;
}

.monthHeader
{
	width: 106px;
	border-spacing: 0px;
	text-align: center;
	padding-left: 3px;
	padding-bottom: 1px;
}

.week
{
	border: 1px solid black;
	border-spacing: 0px;
	border-bottom: none;
	position: relative;
}

.week:last-child
{
	border: 1px solid black;
}

.weekNumber
{
	color: blue;
}

.day
{
	width: 105px;
	height: 14px;
	font-weight: bold;
}

.test
{
	float: left;
	width: 21px;
	height: 14px;
	text-align: center;
	line-height: 14px;
	vertical-align: middle;
	font-size: 14px;
}

.test2
{
	float: left;
	width: 21px;
	height: 14px;
	font-weight: bold;
	font-size: 14px;
}
