div
{
	
}

td
{
	width: 16px;
	text-align: center;
}

.green
{
	background-color: green;
}

.week
{
	border: 2px solid black;
	border-spacing: 0px;
	border-bottom: none;
}

.weekLast
{
	border: 2px solid black;
	border-spacing: 0px;
}

.module
{
	width: 800px;
	border-spacing: 0px;
}

.inner
{
	float: top;
	border-spacing: 0px;
	height: 800px;
}

.month
{
	width: 125px;
	float: left;
	border-spacing: 0px;
}

.weekNumber
{
	color: blue;
}
